<template>
  <v-app>
    <v-main>
      <v-container fluid>
        <v-layout row wrap>
          <v-flex xs7>
            <v-card-title> Занимаемые должности </v-card-title>
          </v-flex>
          <v-flex xs5>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>

            <v-flex class="d-flex justify-space-around align-center mt-6">
              <v-checkbox
                color="green"
                v-model="dismissed"
                label="Показывать уволенных"
              ></v-checkbox>
              <v-btn disabled>Принять на должность</v-btn>
              <v-btn color="green" :disabled="!selected.length">{{
                btnText
              }}</v-btn>
            </v-flex>
          </v-flex>
          <v-flex xs12 mt-6>
            <v-data-table
              show-select
              v-model="selected"
              :headers="headers"
              :items="allOccupations"
              item-key="id"
              sort-by="text"
              class="elevation-1"
              :item-class="rowСlasses"
              :search="search"
            >
              <template
                v-slot:item.data-table-select="{ isSelected, select, item }"
              >
                <v-simple-checkbox
                  v-show="!item.fireDate"
                  :value="isSelected"
                  @input="select($event)"
                ></v-simple-checkbox>
              </template>

              <template v-slot:item.salary="props">
                <v-edit-dialog
                  v-if="noUpdate(props.item)"
                  v-bind:return-value="{
                    salary: props.item.salary,
                    fraction: props.item.fraction,
                  }"
                  v-on:update:return-value="
                    updateSalaryAndFraction(props.item, $event)
                  "
                  large
                  persistent
                  @save="save(props.item)"
                  @cancel="cancel"
                  @open="open"
                  @close="close"
                >
                  <div>
                    {{ props.item.salary }} ₽ ({{ props.item.fraction }}%)
                  </div>
                  <template v-slot:input>
                    <div class="mt-4 text-h6">Ставка. руб.</div>
                    <v-text-field
                      v-model="props.item.salary"
                      label="Edit"
                      single-line
                      counter
                      autofocus
                    ></v-text-field>
                    <div class="mt-4 text-h6">Ставка, %</div>
                    <v-text-field
                      v-model="props.item.fraction"
                      label="Edit"
                      single-line
                      counter
                      autofocus
                    ></v-text-field>
                  </template>
                </v-edit-dialog>
                <div v-else>
                  {{ props.item.salary }} ₽ ({{ props.item.fraction }}%)
                </div>
              </template>

              <template v-slot:item.advance="props">
                <v-edit-dialog
                  v-if="noUpdate(props.item)"
                  :return-value.sync="props.item.advance"
                  large
                  persistent
                  @save="save(props.item)"
                  @cancel="cancel"
                  @open="open"
                  @close="close"
                >
                  <div>{{ props.item.advance }}</div>
                  <template v-slot:input>
                    <div class="mt-4 text-h6">Update Advance</div>
                    <v-text-field
                      v-model="props.item.advance"
                      label="Edit"
                      single-line
                      counter
                      autofocus
                    ></v-text-field>
                  </template>
                </v-edit-dialog>
                <div v-else>{{ props.item.advance }}</div>
              </template>
              <template v-slot:item.hireDate="props">
                <div>{{ dateFormat(props.item.hireDate) }}</div>
              </template>
              <template v-slot:item.fireDate="props">
                <div>{{ dateFormat(props.item.fireDate) }}</div>
              </template>
              <template v-slot:item.base="props">
                <v-edit-dialog
                  v-if="noUpdate(props.item)"
                  :return-value.sync="props.item.base"
                  large
                  persistent
                  @save="save(props.item)"
                  @cancel="cancel"
                  @open="open"
                  @close="close"
                >
                  <div>{{ props.item.base }}</div>
                  <template v-slot:input>
                    <div class="mt-4 text-h6">Update Base</div>
                    <v-text-field
                      v-model="props.item.base"
                      label="Edit"
                      single-line
                      counter
                      autofocus
                    ></v-text-field>
                  </template>
                </v-edit-dialog>
                <div v-else>{{ props.item.base }}</div>
              </template>

              <template v-slot:item.byHours="{ item }">
                <v-simple-checkbox
                  v-if="noUpdate(item)"
                  v-model="item.byHours"
                  @input="save(item)"
                ></v-simple-checkbox>
                <v-simple-checkbox v-else></v-simple-checkbox>
              </template>
            </v-data-table>
          </v-flex>
        </v-layout>
      </v-container>
    </v-main>
    {{ selectedFilter }}
  </v-app>
</template>

<script>
import gql from "graphql-tag";
import { format } from "date-fns";
export default {
  data() {
    return {
      selected: [],
      search: "",
      dismissed: true,
      headers: [
        { text: "Сотрудник", align: "start", value: "name" },
        { text: "Компания", value: "companyName", filterable: false },
        { text: "Должность", value: "positionName", filterable: false },
        { text: "Дата приема", value: "hireDate", filterable: false },
        { text: "Дата увольнения", value: "fireDate", filterable: false },
        { text: "Ставка", value: "salary", filterable: false },
        { text: "База", value: "base", filterable: false },
        { text: "Аванс", value: "advance", filterable: false },
        { text: "Почасовая", value: "byHours", filterable: false },
      ],
      getOccupations: [],
    };
  },
  apollo: {
    getOccupations: gql`
      query occupations {
        getOccupations {
          id
          name
          companyName
          positionName
          hireDate
          fireDate
          salary
          fraction
          base
          advance
          byHours
        }
      }
    `,
  },
  computed: {
    allOccupations() {
      let occupations = this.getOccupations.filter((occupation) => {
        if (this.dismissed) {
          return occupation;
        } else {
          if (occupation.fireDate === null) {
            return occupation;
          }
        }
      });
      return occupations;
    },
    btnText() {
      if (this.selected.length > 1) {
        return "Снять с должностей";
      } else {
        return "Снять с должности";
      }
    },
    selectedFilter() {
      return this.selected.filter((item) => item.fireDate === null);
    },
  },
  methods: {
    rowСlasses(item) {
      if (item.fireDate) {
        return "red";
      }
    },
    updateSalaryAndFraction(item, event) {
      item.salary = event.salary;
      item.fraction = event.fraction;
    },
    noUpdate(item) {
      if (item.fireDate) {
        return false;
      } else {
        return true;
      }
    },
    dateFormat(date) {
      return date !== null ? format(new Date(date), "MM.dd.yyyy") : "";
    },
    save(item) {
      this.snack = true;
      this.snackColor = "success";
      this.snackText = "Data saved";

      this.$apollo.mutate({
        mutation: gql`
          mutation (
            $occupationId: ID
            $salary: Int!
            $fraction: Int!
            $base: Int!
            $advance: Int!
            $byHours: Boolean!
          ) {
            updateOccupation(
              occupationId: $occupationId
              salary: $salary
              fraction: $fraction
              base: $base
              advance: $advance
              byHours: $byHours
            ) {
              salary
              fraction
              base
              advance
              byHours
            }
          }
        `,
        variables: {
          occupationId: item.id,
          salary: item.salary,
          fraction: item.fraction,
          base: item.base,
          advance: item.advance,
          byHours: item.byHours,
        },
      });
    },
    cancel() {
      this.snack = true;
      this.snackColor = "error";
      this.snackText = "Canceled";
    },
    open() {
      this.snack = true;
      this.snackColor = "info";
      this.snackText = "Dialog opened";
    },
    close() {
      console.log("Dialog closed");
    },
  },
};
</script>
